* {box-sizing: border-box;}
:before, :after {content: "";box-sizing: border-box;}

a{text-decoration: none;}

#category{width:100%; height:50px; border-bottom: solid 1px #666666 ; border-top: solid 1px #666666 ;}
.category-container{width:1200px; height:50px; margin:0 auto; padding:10px 10px; }

.category-container ul {height:50px; margin-left:-20px;}
.category-container ul li { list-style: none; float: left; color:black; margin:0 10px; font-size:14px;}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;list-style:none;
  padding:0;z-index:1; width:1200px; margin-top:50px;}

img {max-width: 400px; height:450px; }

strong{font-size:13px;}

/* 스와이퍼 */

.swiper-pagination {position: static;margin-bottom: 60px;}
.swiper-pagination-bullet {background: none;}
.swiper-pagination-bullet-active {opacity: 1; color: #007aff;}
.swiper-pagination-bullet-active .typeName {opacity: 1;}

.swiper-pagination-bullet .typeName {
  position: absolute;
  display: block;
  margin-top: 20px;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: auto;
  padding: 10px;
  height: auto;
  border-radius: 0;
  display: inline-block;
 
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0;}

.swiper-slide {opacity:0.7;transition: all 0.3s ease-in;}
.swiper-slide .item-content {padding: 20px 0;}
.swiper-slide .item-content h2 {margin-bottom: 10px; font-size: 20px;}
.swiper-slide.swiper-slide-active {opacity: 1;}

/* 스와이퍼 */

#toptitle{width:100%; height:50px; }
.title1{width:1200px; height:50px; margin:0 auto; display:flex;}

.title1 button{margin-top:25px; margin-left:20px; height: 20px; width:50px; }


#middletitle{width:100%; height:350px; background-color: rgba(242, 244, 245, 0.5); }
.middletitle1{width:1200px; height:350px;  margin:0 auto; }


#toptitle2{width:100%; height:400px;}
.title2{width:1200px; height:400px; margin:0 auto;  margin-top:100px; border-bottom: solid 1px black;}

#toptitle3{width:100%; height:400px;}
.title3{width:1200px; height:400px; margin:0 auto;  margin-top:100px;}

#toptitle4{width:100%; height:400px;}
.title4{width:1200px; height:400px; margin:0 auto;  margin-top:100px;}

footer{width:100%; height:250px;}
.footerbox{width:1200px; height:250px; margin:0 auto; margin-top:100px; }

.footerul{width:400px; margin:0 auto; height:40px; }
.footerul li {width:100px; float:left; text-align: center; }

.iconul{width:330px; margin:0 auto; height:40px; }
.iconul li {width:100px; float:left; text-align: center; margin-top:30px; }
.iconul li i{font-size:20px; color:black; margin-left:10px;  color: #666666;}

.infoul{width:400px; margin:0 auto; height:100px; text-align: center; margin-top:10px; }
.infoul li{width:400px; font-size:12px;}

.bottomul{width:400px; margin:0 auto; height:30px; }
.bottomul li {width:133px; float:left; text-align: center; font-size:12px;}


#smallnav{width:100%; height:30px; }
.smallnav2{width:1200px; height:30px; margin:0 auto;}
.smallnav3{ width:30%; height:30px;  float:right;}
.smallul li {float:left; margin-left:11px;}


.stickybox{z-index: 1000; position:sticky; width:100%; height:130px; background-color: rgba(19, 32, 47, 0.9); bottom:0;}
.stickybox p {text-align: center; color:white; font-weight:bold;}
.topp{margin-top:10px;}
.btnbox {width:300px; height:40px; margin:0 auto; background-color:rgb(0, 119, 217);}

.btnbox button{width:300px; height:40px;  
  color:white; margin:0 auto; background-color:rgb(0, 119, 217);
font-weight:bold; border:solid 1px rgb(0, 119, 217);}
